
<body>
                                    
                        
                        
            
    <section class="theme-layer theme--grey">
      <div class="grid clearfix">
                                                     
        <div class="grid-item grid-column-three ">
 
                  <div class="content-header"><h2 class="content-header_heading ">Entidades paranormales y fantasmales en Bogotá</h2></div>        		
                     <div class="content-block">
             <p>En Bogotá existe un amplio abanico de entidades paranormales y fantasmales a las que nos enfrentamos cada día. Conoce cuáles son las más frecuentes:</p>
             </div>
                     <ul class="list-module"></ul>
                     
                         </div>
                     
                                                     
                     <div class="grid-item grid-column-one ">
                         <a  class="sign-post sign-post--link">
                         <div class="sign-post_body-position">
                             <div  class="sign-post_content sign-post_content--centre">
                              
 
                                 <h2 class="sign-post_header ">Clase I: manifestación incompleta</h2>                                        	
             
             <p class="sign-post_copy"></p> 
             
                                                                     </div>
                         </div>
                     </a>
                     </div>
                 
             
             
                                                     
                     <div class="grid-item grid-column-one ">
                         <a  class="sign-post sign-post--link  ">
                         <div class="sign-post_body-position">
                             <div class="sign-post_content sign-post_content--centre">
                                 <!-- iconos -->
                                 <h2 class="sign-post_header ">Clase II: manifestación incorpórea</h2>                                        	
             
             
                             </div>
                         </div>
                     </a>
                     </div>
                 
                                                     
                     <div class="grid-item grid-column-one ">
                         <a  class="sign-post sign-post--link  ">
                         <div class="sign-post_body-position">
                             <div class="sign-post_content sign-post_content--centre">
                             <!-- icono -->
                                 <h2 class="sign-post_header ">Clase III: aparición completas.</h2>                                        	   
            
             
                         </div>
                         </div>
                     </a>
                     </div>
                 
                                                     
                     <div class="grid-item grid-column-one ">
                         <a  class="sign-post sign-post--link  ">
                         <div class="sign-post_body-position">
                             <div  style="background-color: rgb(127, 141, 155, 0.9);"    class="sign-post_content sign-post_content--centre">
                                <i style="color: rgb(254, 0, 0);font-size: 50px;" class="fa fa-exclamation-triangle" ></i>
                                 <h2 class="sign-post_header ">Clase IV: aparición psicosensible.</h2>                                        	
             <p class="sign-post_copy">Son los fantasmas que aparecen gracias a las energías psíquicas de las emociones negativas de los vivos, tales como la ira o el odio.</p>
             
                         </div>
                         </div>
                     </a>
                     </div>
                 
                                                     
                     <div class="grid-item grid-column-one ">
                         <a  class="sign-post sign-post--link  ">
                         <div class="sign-post_body-position">
                             <div class="sign-post_content sign-post_content--centre">
                                 <!-- icono -->
                                 <h2 class="sign-post_header">Clase V: entidades etéreas ambulantes.</h2>                                        	
             
             
                         </div>
                         </div>
                     </a>
                     </div>
                 
                                                     
                     <div class="grid-item grid-column-one ">
                         <a class="sign-post sign-post--link  ">
                         <div class="sign-post_body-position">
                             <div class="sign-post_content sign-post_content--centre">
                                 <!-- icono -->
                                 <h2 class="sign-post_header">Clase VI: manifestaciones animales.</h2>                                        	
            
             
                         </div>
                         </div>
                     </a>
                     </div>
 
      </div>
     </section>
      
 </body>
     
 
 