

<!--     contacto     -->

<div class="contacto" id="contacto">
    <div class="container text-center">
    
            <p class="text-center"> Contacto:</p>
            
            <div class="row">
                    <div class="col-md-4">
                        <i class="fa fa-whatsapp"></i>
                        <p> (57) 555-555-55</p>
                    </div>

                    <div class="col-md-4">
                        <i class="fa fa-envelope"></i>
                        <p>info@ghostbusters.com</p>
                    </div>

                    <div class="col-md-4">
                        <i class="fa fa-map-marker"></i>
                        <p>Bogotá​​ D.C</p>
                    </div>
            </div>
    </div>
</div>
  




