

<body>
<section class="theme-layer theme--grey">
  
                                        
    <div class="grid clearfix">
    <div class="grid-item grid-column-three ">

       

        <a  class="sign-post sign-post--link sign-post--image-right ">
                          
                         
             
        
        
        <div class="sign-post_body-position">
    
           
    
         <div class="sign-post_content ">
    
            
    
            <h2 class="sign-post_header ">¿Cómo podemos ayudarte?</h2>                                       	
     <p class="sign-post_copy">Trabajamos de forma personalizada con cada empresa, donde revisamos al detalle su situación en particular y según 
     eso diseñamos un plan de acción que por estar basado en el comportamiento de las <b>entidades paranormales y fantasmales</b>  será altamente efectivo y entregará un 
     verdadero control sobre esta.</p>
    
     <p class="sign-post_copy">Nuestros expertos se encargarán de prevenir y encontrar una solución definitiva a tu problemas fantasmales.</p>
    
        </div>

         


        </div>
        <div class="img" >  <div  *ngFor="let img of imagen"><img [src] = "img" /></div></div>
        </a>
        </div>
    </div>

</section>

</body>