	<section class="call-cta call-cta--docked">

		<p class="call-cta-text "><span class="call-cta_text">¿Eres una empresa?, Pide hoy tu visita gratuita al</span>
										
				<a class="call-cta-text_link">
				<span class="call-cta_number">&nbsp; (57) 555-555-55</span></a>
						<span>&nbsp;o por <a  class="call-cta-text_link">e-mail: info@ghostbusters.com.co</a></span>
		</p>

	</section>

 <!----------------           Otra seccion   --------- -->



<!-- <body> -->
                                				
								
	<section class="theme-layer theme--stripe">
		<div class="grid clearfix">
			<div class="grid-item grid-column-three">
				<div class="content-header">
					<h1 >Control de entidades paranormales y fantasmales en Bogotá</h1>
				</div>
				 <div class="content-block"> 
                    
					<p>Somos expertos en <b>entidades paranormales y fantasmales</b> en Bogotá y 
					Cundinamarca, con más de 30 años de experiencia en el mundo y 5 en 
					Colombia. Entendemos a las entidades paranormales y fantasmales y sabemos cómo encontrar una solución 
					definitiva para estas entidades que afectan tu casa o negocio.</p>
			    </div>
			</div>
			   	 
	 	</div>
	</section>






<!-- <div class="socialex-icons">
	
  <ul>
  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
  <a href="#"><li><i class="fa fa-github"></i></li></a>
  <a href="#"><li><i class="fa fa-facebook-square"></i></li></a>
  <a href="#"><li><i class="fa fa-instagram"></i></li></a>
  <a href="#"><li><i class="fa fa-skype"></i></li></a>


  </ul>
  </div>   -->






 <!--------------------           Otra seccion 2  --------- -->

<div class="theme-layer theme--grey" >

 <!-- <section class="theme-layer theme--grey">  -->
	<div class="grid clearfix">
						
<div class="grid-item grid-column-one ">
<a class="sign-post sign-post--link sign-post--image-header "  > <div  *ngFor="let img of imagen"><img [src] = "img" /></div>

<!-- <img src="h.jpg">       cargar imagen-->




		<div class="sign-post_body-position"> 
	<div class="sign-post_content ">
	<h2 class="sign-post_header ">Ghostbusters Colombia ©</h2>  <p class="sign-post_copy"></p>
	<div class="content-block ">

<div> <address><span><i class="fa fa-globe"></i>
	Cr 90 # 110A - 26</span></address><span >Suba, Bogotá</span></div>
<div><span> Colombia</span></div>

</div>
	 </div>
</div>
</a>
</div>

							
<div class="grid-item grid-column-one ">

<a  class="sign-post sign-post--link sign-post--image-background  theme--blue  " style="display: table; ">



<div class="sign-post_body-position ">
	<div class="sign-post_content ">
		<h2 class="sign-post_header ">¿Porqué Ghostbusters Colombia?</h2> <p class="sign-post_copy">Sabemos de entidades paranormales y fantasmales, entendemos su comportamiento y diseñamos soluciones no invasivas pensadas en tu negocio.</p>
											</div>
</div>
</a>
</div>

							
<div class="grid-item grid-column-one ">
		<a class="sign-post sign-post--link  ">
<div class="sign-post_body-position">
	<div class="sign-post_content ">  <div class="ic"><i class="fa fa-handshake-o"></i></div>

	  
		<h2 class="sign-post_header ">¿Dudas? Contáctanos</h2>                                        	
<p class="sign-post_copy">Encontraremos una solución enfocada a tu&nbsp;hogar o negocio.</p>

											</div>
</div>
</a>
</div>



<!-- </section>  -->



 <!-- </body>  -->
</div>

