


 <!----------------           Otra seccion   --------- -->



<!-- <body> -->
                                				
								
	<section class="theme-layer theme--stripe">
		<div class="grid clearfix">
			<div class="grid-item grid-column-three">
				<div class="content-header">
					<h1 ><i class="fa fa-trophy"></i>&nbsp;
                        Información de la compañia</h1>
				</div>
				 <div class="content-block"> 
                    
			

<p>En <b>Ghostbusters Colombia </b> contamos con más de 100 profesionales y damos servicios en más de 4.500 instalaciones distintas. Además, contamos con el soporte de Ghostbusters internacional una organización mundial con presencia en mas de 60 países, con al rededor de 52.000 empleados y una facturación cercana a los 3.500 millones de dólares.


</p>



<div  *ngFor="let img of imagen"><img [src] = "img" /></div>





			    </div>
			</div>
			   	 
	 	</div>
	</section>


